
<h2> {{title }}  </h2>
<table class="table">
    <tr>
        <th>Index</th>   
        <th>Even/Odd</th>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Room Price</th>
        <th>Room Amennites</th>
        <th>Checkin Time</th>
        <th>Rating</th>
        <th>Selected Room</th>
    </tr>
    <tr [ngClass]="e? 'event' : 'odd'" 
    *ngFor="let room of rooms; let e=even; let o=odd let i= index">
        <td> {{ i }} </td> 
        <td> {{e ? "Even" : "Odd"}} </td>
        <td> {{room.roomNumber}} </td>
        <td> {{room.roomType }} </td>
        <td> {{room.price | currency: 'GBP'}} </td>
        <td> {{room.amenities | titlecase}} </td>
        <td> {{room.checkinTime | date : 'shortDate' }} </td>
        <td> {{room.rating | number : '1.0-3'}} </td>
        <td> 
            <button
            class="btn btn-primary" 
            (click)="selectRoom(room)"
            >
                Select
            </button>    
        </td>
    </tr>
</table>