<h1>Hello Angular JS</h1>
<app-rooms></app-rooms>

<app-container>
    <app-rooms></app-rooms>
    <app-employee   ></app-employee>
    <h1>This is from ng-content</h1>
</app-container>



<!-- <div #name>

</div> -->

<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">
        Welcome User!
</div>
    <div *ngSwitchCase="'Admin'">
    </div>
    <div *ngSwitchDefault>
        Ypu are not authorized to view this page !
    </div>
</div> -->

<!-- <div>
    <ng-template #user></ng-template>
</div> -->