<!-- <h1>welcome to {{ hotelName }}</h1> -->
<app-header></app-header>
<div [ngStyle]="{'color': rooms.availableRooms > 0  ? 'green' : 'red'}"
[hidden]="hideRooms">
  Number of Rooms:
  <div [innerText]="numberOfRooms"></div>
</div>

{{rooms?.availableRooms ?? 'No rooms'}}

<!-- {{  roomList | json}} -->

<div *ngIf="selectedRoom">
  {{ selectedRoom  |json}} 
</div>

<div>  
  <button (click)="addRoom()" >
    Add Room
  </button>
</div>

<div *ngIf="hideRooms">

  <!-- //app-rooms-list => selector: 'app-rooms-list', from rooms-list-components.ts file -->
  <!-- //[rooms]=roomList =>  @Input() rooms: RoomList[] = [] from rooms-list-components.ts file -->
    <app-rooms-list [rooms]="roomList" [title]="title"
    (selectedRoom)="selectRoom($event)"
    ></app-rooms-list>
</div>



<button (click)="toggle()">Toggle</button>
